/* Hide scrollbar */
::-webkit-scrollbar { display: none; }

/* Override default font */
body, textarea, input, .richtext_editor { 
    font-family: Arial, Tahoma, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

/* === Draggable windows elements === */

/* Draggable top bar */
#top_bar {
    -webkit-app-region: drag;
}
.left_menu_toggle, .quick_find,
#sync_state_icon, #quick_add_task_holder, #before_pie, #top_completed_holder,
#notifications_counter, #gear_holder {
    -webkit-app-region: no-drag;
}

/* Draggable left menu empty content */
#left_menu {
    -webkit-app-region: drag;;
}

#top_filters {
    padding-top: 0 !important;
    margin-top: 24px !important;
}
#top_filters, .expansion_panel {
    -webkit-app-region: no-drag;
}
#left_menu > #list_holder {
    padding-bottom: 0 !important;
    margin-bottom: 30px;
}

/* Override large link close button for draggable window */
.left_menu_show .left_menu_toggle {
    padding-right: 40px !important;
}

/* Smaller search box */
@media only screen and (max-width: 750px) {
    #quick_find .quick_find {
        width: 110px !important;
    }
}

/* Remove unsupported / trash features */
#quick_find .help_icon, .sharing, #completed_today,
.menu_buttons.priorities {
    display: none;
}

/**
 *   MAKE ELECTRON APP FEEL MORE NATIVE
 *   * Prevent dragging all HTML elements, specially:
 *   	- images
 *   	- links (anchors)
 *   * Prevent text selection
 */
 *, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

/* Disable ghost link drag for image "Completed today" */
/*#completed_today > .illustration {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}*/
