/* Hide scrollbar */
::-webkit-scrollbar { display: none; }

/* Override default font */
body, textarea, input, .richtext_editor { 
    font-family: Arial, Tahoma, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

/**
 *   MAKE ELECTRON APP FEEL MORE NATIVE
 *   * Prevent dragging all HTML elements, specially:
 *   	- images
 *   	- links (anchors)
 *   * Prevent text selection
 */
 *, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}
